
h1{
    color: rgb(57, 201, 201);
}
p{
    color: burlywood;
}
#Type{
    color: crimson;
    background-color: darkgrey;
}
.CSS{
    color:red; 
}
ol{
    height: 150px;
    width:100px;
    background-color: darkkhaki;
    color: gold;
}
li{
    font-size: 20px;
    color: forestgreen;
}
.style{
    color:indigo;
}
.fashion{
    color: lawngreen;
    font-size: large;
}
div{
    background-color: lightcoral;
    border: 2px navajowhite dotted;
    padding: 20px;
    

}